
.navbar-brand{
    width: 450px;
}

.logo {
    color: white;
    height: 45px;
    width: 220px;
}

@media (max-width: 576px) {
    .logo {
        color: white;
    }

    .navbar-brand{
        width: unset;
    }
}