<div>
    {{ form_start(checkpoint_form) }}
    {{ form_widget(checkpoint_form) }}
    <button type="submit" class="btn btn-primary mt-3">Save Checkpoint</button>
    {{ form_end(checkpoint_form) }}
</div>